@import "./colors";
@import "./colorManipulator";

// spectre.css
$version: "0.5.2" !default;

// Core features
$rtl: false !default;

// Unit sizes
$unit-o: .05rem !default;
$unit-h: .1rem !default;
$unit-1: .2rem !default;
$unit-2: .4rem !default;
$unit-3: .6rem !default;
$unit-4: .8rem !default;
$unit-5: 1rem !default;
$unit-6: 1.2rem !default;
$unit-7: 1.4rem !default;
$unit-8: 1.6rem !default;
$unit-9: 1.8rem !default;
$unit-10: 2rem !default;
$unit-12: 2.4rem !default;
$unit-16: 3.2rem !default;


//colors
$white: #ffffff;
$black: #000000;

$grey1: hsl(0, 0%, 96%) !default;
$grey2: hsl(0, 0%, 88%) !default;
$grey3: hsl(0, 0%, 74%) !default;
$grey: hsl(0, 0%, 57%) !default;
$grey7: hsl(0, 0%, 37%) !default;
$grey8: hsl(0, 0%, 20%) !default;


$bg: hsl(0, 0%, 88%) !default;
$bgPaper: hsl(0, 100%, 100%) !default;

$prima3: hsl(193, 38%, 76%) !default;
$prima4: hsl(193, 55%, 53%) !default;
$prima: hsl(193, 55%, 33%) !default;
$prima7: hsl(193, 75%, 20%) !default;

$second3: hsl(210, 2%, 83%) !default;
$second: hsl(210, 2%, 63%) !default;
$second7: hsl(210, 2%, 43%) !default;

$accent3: hsl(48, 83%, 83%) !default;
$accent: hsl(48, 73%, 63%) !default;
$accent7: hsl(48, 100%, 41%) !default;

$error: hsl(0, 70%, 50%) !default;
$info: hsl(224, 62%, 77%) !default;
$success: $prima4 !default;

$txt: $grey8 !default;
$txt3: $grey3 !default;
$txt1: $grey1 !default;
$txtDisabled: $grey3 !default;

$textOnPrima: get-contrast-color($prima, ($white, $txt)) !default;
$textOnSecond: get-contrast-color($second, ($white, $txt))!default;
$textOnAccent: get-contrast-color($accent, ($white, $txt))!default;
$textOnError: get-contrast-color($error, ($white, $txt))!default;
$textOnInfo: get-contrast-color($info, ($white, $txt))!default;
$textOnSuccess: get-contrast-color($success, ($white, $txt))!default;
//$textOnDisabled:get-contrast-color($prima, ($white, $txt)) !default;

//
$fontSize: 1rem !default;
$fontSize3: .8rem !default;
$fontSize7: 1.2rem !default;

$htmlFontSize: 16px !default;
$lineHeight: 1.3rem !default;


$border-width: $unit-o !default;
$border-width7: $unit-1 !default;
//Ctrls
$ctrlSize: $unit-10 !default;
$ctrlSize3: $unit-7 !default;
$ctrlSize7: $unit-12 !default;
$ctrlSize9: $unit-16 !default;
$ctrlPaddingX: $unit-3 !default;
$ctrlPaddingX3: $unit-3 * .75 !default;
$ctrlPaddingX7: $unit-3 * 1.5 !default;
$ctrlPaddingX9: $unit-3 * 2 !default;

$ctrlPaddingY: ($ctrlSize - $lineHeight) / 2 - $border-width !default;
$ctrlPaddingY3: ($ctrlSize3 - $lineHeight) / 2 - $border-width !default;
$ctrlPaddingY7: ($ctrlSize7 - $lineHeight) / 2 - $border-width !default;
$ctrlPaddingY9: ($ctrlSize9 - $lineHeight) / 2 - $border-width !default;
$ctrlIconSize: 1rem !default;

// Sizes
$layoutSpacing: $unit-2 !default;
$layoutSpacing3: $unit-1 !default;
$layoutSpacing7: $unit-4 !default;

$radius: 4px;
//$borderRadius: var(--borderRadius, #{$borderRadius}); - theme --radius


//********************************


// Other colors
//$codeColor: #{$palette-blue-a200} !default;
//$highlightColor: #{$palette-yellow-200} !default;
//$bodyBg: #{$color-white} !default;
//$bodyFontColor: #{$darkColor} !default;
//$bodyFontColorInverse: #{$lightColor} !default;
//$componentBg: #{$color-white} !default;
//$linkColor: #{$primaryColor} !default;
//$linkColorDark: #{$primaryColorDark} !default;
//$linkColorLight: #{$primaryColorLight} !default;
////size
//$borderRadius: 5px !default;

// COLOR ASSIGNING


// Fonts
// Credit: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
$base-font-family: 'Helvetica Neue', Helvetica, Arial, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", sans-serif !default;
$mono-font-family: "SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier, monospace !default;
$fallback-font-family: "Ubuntu", “Droid Sans”, "Helvetica Neue", sans-serif !default;

$cjk-zh-hans-font-family: $base-font-family, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", $fallback-font-family !default !default;
$cjk-zh-hant-font-family: $base-font-family, "PingFang TC", "Hiragino Sans CNS", "Microsoft JhengHei", $fallback-font-family !default !default;
$cjk-jp-font-family: $base-font-family, "Hiragino Sans", "Hiragino Kaku Gothic Pro", "Yu Gothic", YuGothic, Meiryo, $fallback-font-family !default !default;
$cjk-ko-font-family: $base-font-family, "Malgun Gothic", $fallback-font-family !default !default;

$body-font-family: $base-font-family, $fallback-font-family !default;
$condensed-fonts: 'Open Sans Condensed', sans-serif !default;
$header-fonts: Roboto, Verdana, sans-serif !default;


// Font sizes
//$html-font-size: 16px !default;
//$html-line-height: 1.5 !default;
////$font-size: 1rem !default;
////$font-size-sm: .8rem !default;
////$font-size-lg: 1.2rem !default;
//$line-height: 1.3rem !default;

// Sizes
//$layout-spacing: $unit-2 !default;
//$layout-spacing-sm: $unit-1 !default;
//$layout-spacing-lg: $unit-4 !default;
//$border-radius: var(--borderRadius, #{$borderRadius});
//$border-width: $unit-o !default;
//$border-width-lg: $unit-1 !default;
//$control-size: $unit-9 !default;
//$control-size-sm: $unit-7 !default;
//$control-size-lg: $unit-10 !default;
//$control-size-xl: $unit-16 !default;
//$control-padding-x: $unit-2 !default;
//$control-padding-x-sm: $unit-2 * .75 !default;
//$control-padding-x-lg: $unit-2 * 1.5 !default;
//$control-padding-x-xl: $unit-2 * 2 !default;
//$control-padding-y: ($control-size - $line-height) / 2 - $border-width !default;
//$control-padding-y-sm: ($control-size-sm - $line-height) / 2 - $border-width !default;
//$control-padding-y-lg: ($control-size-lg - $line-height) / 2 - $border-width !default;
//$control-padding-y-xl: ($control-size-xl - $line-height) / 2 - $border-width !default;
//$control-icon-size: 1rem !default;

$grid-spacing: 0.5rem !default;
$control-width-xs: 180px !default;
$control-width-sm: 320px !default;
$control-width-md: 640px !default;
$control-width-lg: 960px !default;
$control-width-xl: 1280px !default;

// Responsive breakpoints
//sm = phone + pad-portrait, lg = pad-landscape,
// xl = desktop, 2x = large desktop
$size-xs: 480px !default;
$size-sm: 600px !default;
$size-md: 840px !default;
$size-lg: 960px !default;
$size-xl: 1280px !default;
$size-2x: 1440px !default;

$responsive-breakpoint: $size-xs !default;

// Z-index
$zindex-0: 1 !default;
$zindex-1: 100 !default;
$zindex-2: 200 !default;
$zindex-3: 300 !default;
$zindex-4: 400 !default;

//breadcrumb
$breadcrumb-sign: '/';

//shadows
$shadow-2p: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
0 3px 1px -2px rgba(0, 0, 0, 0.2),
0 1px 5px 0 rgba(0, 0, 0, 0.12);

$shadow-3p: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
0 3px 3px -2px rgba(0, 0, 0, 0.2),
0 1px 8px 0 rgba(0, 0, 0, 0.12);

$shadow-4p: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
0 1px 10px 0 rgba(0, 0, 0, 0.12),
0 2px 4px -1px rgba(0, 0, 0, 0.2);

$shadow-6p: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
0 1px 18px 0 rgba(0, 0, 0, 0.12),
0 3px 5px -1px rgba(0, 0, 0, 0.2);

$shadow-8p: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
0 3px 14px 2px rgba(0, 0, 0, 0.12),
0 5px 5px -3px rgba(0, 0, 0, 0.2);

$shadow-16p: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
0 6px 30px 5px rgba(0, 0, 0, 0.12),
0 8px 10px -5px rgba(0, 0, 0, 0.2);

//animation
$animation-duration: 0.35s;
$animation-delay: $animation-duration / 5;
$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1);
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1);
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1);
$animation-curve-default: $animation-curve-fast-out-slow-in;

//my
$topbarHeight: 3rem !default;
